:root {
	--header-bg: #2a2d32;
	--hero-bg: #283548;
	--primary: #4c85e1;
	--header-fg: #f9faf8;
	--header-alt-fg: #e5e7eb;
}

body {
	margin: 0;
}

* {
	font-family: 'Roboto', sans-serif;
}

.push-right {
	margin-left: auto;
}

.header-wrapper {
	background-color: var(--header-bg);
	color: white;
	padding: 8px 20px;
}

.header {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	max-width: 960px;
}

.header-link {
	font-size: 18px;
	color: var(--header-alt-fg);
	text-decoration: none;
}

.hero-wrapper {
	background-color: var(--hero-bg);
	color: white;
	padding: 50px 20px 80px 20px;
}

.hero {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	max-width: 960px;
}

.hero-text {
	flex: 5;
}

.hero-img {
	flex: 3;
}

.hero-text {

}

.hero-header {
	font-size: 48px;
	font-weight: bold;
	color: var(--header-fg);
}

.hero-subtext {
	font-size: 16px;
	color: var(--header-alt-fg);
}

.hero-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 720px) {
	.hero-img {
		display: none;
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	border-radius: 12px;
	max-width: 100%;
}

.footer-wrapper {
	background-color: var(--header-bg);
	color: white;
	padding: 6px 20px;
}

.footer {
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

.btn-primary {
	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 6px 20px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

.outline-white {
	border: solid white 2px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	text-decoration: underline;
}
